html, body{
	padding:0;
	margin: 0;
}
.abc{
/*border: 1px solid black;*/
	height: 800px;
}

.abso{
	position: absolute;
	top:150px;
	width: 100%;
}
.rela{
	position: relative;
}
.contacts{
	position: absolute;
	top:150px;
	left: 150px;
	width: 500px;
	/*height: 600px;*/
	background: #fff;
	padding: 20px;
	border-radius: 3px;

}
.contacts .contacts-title{
	font-size: 50px;

}
.contacts .contacts-name{
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 30px;
	color: #317efc;
}
.contacts-phone, .contacts-email, .contacts-location{
	font-size: 20px;
	margin-top: 5px;

}
.contacts-location::before{
	width: 30px;
	height: 30px;
	left: 0px;
	top: 3px;
	/*background: #317efc;*/
	content: url('../images/location.svg');
	/*margin-right: 20px;*/
	position: absolute;
}
.contacts-location{
	padding-left:  38px;
	display: inline-block;
	position: relative;
}
.contacts-phone{
	font-size: 30px;
	padding-left:  35px;
	position: relative;
}

.contacts-phone::before{
	font-size: 30px;
	width: 30px;
	height: 30px;
	left: 0px;
	/*background: #317efc;*/
	content: url('../images/phone.svg');
	/*margin-right: 20px;*/
	position: absolute;
	top: 5px;
}
.contacts-email::before{
	width: 30px;
	height: 30px;
	left: 0px;

	content: url('../images/email.svg');
	/*margin-right: 20px;*/
	position: absolute;
	top: 3px	;
}
.contacts-email{
	padding-left:  38px;
	display: inline-block;
	position: relative;
}














